<h2> <%= @mission.name %></h2>

<div>
  <ul>
    <li> Mission Name: <%= @mission.name %> </li>
    <li> Planet Name: <%= @mission.planet.name %> </li>
    <li> Scientist Name: <%= @mission.scientist.name %> </li>
  </ul>
</div>